*{
    
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: rgb(74, 199, 157);
    text-align: left;
    font-size: 1em;
    
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}
.flex-container{
    display: flex;
    height: auto;
    align-content: center;
    flex-direction: row;
    background-color: burlywood;
    padding: 10px;
    border: 2px solid black;
}

.flex-container div{
    background-color: gainsboro;
    width: auto;
    margin: auto;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    border: 2px solid black;
    margin-bottom: 15px;
    margin-right: 5em;
    margin-left: 5em;
    
}



section{
    flex: 70%;
    background-color: khaki;
    padding: 40px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: rgb(79, 50, 50);
    color: white;
}

@media screen and (max-width: 700px){
    header,
    nav, 
    nav a,
    .row,
    .flex-container,
    .flex-container div{
        flex-direction: column;
    }
}

.textoenca{
    text-align: center;
    font-size: 4em;
    color: white;
    margin-left: 0.1cm;
 
   


}

.imagenenca{
    margin-right: 0;
    font-size: 1em;
    
}

.texto{
    font-size: 1.3em;
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}
.imagen{
   width: 25em;
    
}

.text{
    font-size: 2em;
    background-color: rgb(250, 250, 250);
    
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
  }

.imag{
    height: 5rem;
    width: 5rem;
}

.produc{
    height: 16rem;
    width: 16rem;
}